<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>Fashion is our passion | Free responsive Fashion Blog template
      </title>
      <meta name="description" content="Download free amazing responsive Fashion Blog template."/>
      <meta name="keywords" content="free, responsive, blog, fashion, web site, template"/>
      <link rel="stylesheet" href="css/components.css">
      <link rel="stylesheet" href="css/responsee.css">
      <!-- CUSTOM STYLE -->       
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/template-style.css">
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
      <script type="text/javascript" src="js/modernizr.js"></script>
      <script type="text/javascript" src="js/responsee.js"></script>          
      <!--[if lt IE 9]> 
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
      <![endif]-->     
   </head>
   <style>
      *{
          font-family: "Nunito", sans-serif !important;
          letter-spacing: 1px;
      }
  
      i, h4 {
          font-family: "Font Awesome 6 Free"!important;
      }
  
      .fab{
          font-family: "Font Awesome 6 Brands"!important;
      }
  
      nav a{
          color: white !important;
          font-family: "cursive !important";
          font-size: 19px;
          font-weight: 500;
      }
  
      .dropdown-item{
          color: black !important;
      }
  </style>
  
  <div class="container-fluid bg-light position-relative shadow" style="background-color: #054569 !important;">
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5" style="background-color: #054569 !important; ">
          <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
              <img width="120px" src="{{ asset('img/logo/a1.png') }}" alt="description of myimage">
              <!-- <i class="fa-solid fa-eye"></i>
              <span class="text-primary">nOOr</span> -->
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav font-weight-bold mx-auto py-0">
                  <a href="{{ url('home') }}" class="nav-item nav-link active">Home</a>
                  <a href="{{ url('ask') }}" class="nav-item nav-link active">Asks</a>
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">services</a>
                      <div class="dropdown-menu rounded-0 m-0">
                          <a href="{{ url('book') }}" class="dropdown-item" style="color: black;">Bodcaste Book</a>
                          <a href="{{ url('blog') }}" class="dropdown-item" style="color: black;">Blog</a>
                          {{-- <a href="./team.html" class="dropdown-item">toolss</a> --}}
  
                      </div>
                  </div>
                  <a href="{{ url('about') }}" class="nav-item nav-link">About</a>
                  <a href="{{ url('contact') }}" class="nav-item nav-link">Contact</a>
              </div>
              <a href="{{ url('registration') }}" class="btn btn-primary px-4">Join Us</a>
          </div>
      </nav>
  </div>

   <body class="size-1140" style="background-color:white; ">
      <!-- TOP NAV WITH LOGO --> 
      <header>
         
        
      </header>         
      <h1 align="center" class="mb-5 py-4">Blog Page</h1><br>
      <!-- MAIN SECTION -->                  
      <section id="home-section" class="line">
         <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-9">
            
               <!-- ARTICLE 1 -->               
               <article class="post-1 line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-1.html">
                     <img src="img/post1.jpg" alt="Fashion 1">
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="post-1.html">
                        <h2>Early Explorers</h2>
                     </a>least once each day.2 The need to access websites and mobile applications doesn’t stop when it reaches Americans with disabilities. According to the American Community Survey, 
                     </p>
                  </div>
                  <!-- date -->                 
                
               </article>
               
               <!-- ARTICLE 2 -->            
               <article class="post-2 right-align line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-2.html">
                     <img src="img/post2.jpg" alt="Fashion 2">
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text " style="text-align:left;">
                     <a href="post-2.html">
                        <h2>Early Childhood Initiatives</h2>
                     </a>
                     <p>The National Federation of the Blind National Convention is the largest gathering of blind people in the world. It is the premier event for training, support, and information for the blind community. It also serves as a governing body, democratically electing our leadership and establishing each year's organizational priorities.
                     </p>
                  </div>
                  <!-- date -->                 
               
               
               </article>
               
               <!-- ARTICLE 3 -->              
               <article class="post-3 line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-3.html">
                     <img src="img/post3.jpg" alt="Fashion 3" style="height:500px ;">
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="post-3.html">
                        <h2>NFB BELL® Academy</h2>
                     </a>
                     <p>The NFB BELL Academy provides children with Braille and nonvisual skills instruction through fun, hands-on learning activities.                
                  </div>
                  <!-- date -->                 
                 
               </article>
               
               <!-- ARTICLE 4 -->           
               <article class="post-4 right-align line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-4.html">
                     <img src="img/post4.jpg" alt="Fashion 4">
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text" style="text-align:left;">
                     <a href="post-4.html">
                        <h2>Blind</h2>
                     </a>
                     <p> Although the convention is open to all, our constitution states that only members of the NFB have the right to participate in decision making when it comes to organizational policy. If you are not already a member, joinam; est usus legentis in iis qui facit eorum claritatem.
                  </div>
                  <!-- date -->                 
                
               </article>
               
               <!-- ARTICLE 5 -->              
               <!-- <article class="post-5 line"> -->
                  <!-- text -->                 
                  <!-- <div class="s-12 l-11 post-text">
                     <a href="post-5.html">
                        <h2>And again - it's totally free!</h2>
                     </a>
                     <p>Lorem ipsum dolor sit amet, conse ctetuer. Duis autem vemeu iriure dolor adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                  </div> -->
                  <!-- date -->                 
               
               </article>
            </div>
            <!-- SIDEBAR -->             
            <div class="s-12 l-3">
               <aside>
                  <!-- NEWS 1 -->           
                  <img src="img/news1.jpg" alt="News 1">          
                  <div class="aside-block margin-bottom">
                     <h3>This is the first news on blog</h3>
                     <p>LThe National Federation of the Blind National Convention is the largest gathering of blind people in the world. It is the premier event for training, support, and information for the blind community. </p>
                  </div>
                  <!-- NEWS 2 -->           
                  <img src="img/news2.jpg" alt="News 2">          
                  <div class="aside-block margin-bottom">
                     <h3>Second news on the blog</h3>
                     <p>The National Federation of the Blind National Convention is the largest gathering of blind people in the world. It is the premier event for training, support, and information for the blind community. .</p>
                  </div>
                  <!-- AD REGION -->         
                 
               </aside>
            </div>
         </div>
      </section>
      <!-- FOOTER -->       
      
   </body>
</html>