<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>National Convention
      </title>
      <meta name="description" content="Download free amazing responsive Fashion Blog template."/>
      <meta name="keywords" content="free, responsive, blog, fashion"/>
      <link rel="stylesheet" href="css/components.css">
      <link rel="stylesheet" href="css/responsee.css">
      <!-- CUSTOM STYLE -->       
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/template-style.css">
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
      <script type="text/javascript" src="js/modernizr.js"></script>
      <script type="text/javascript" src="js/responsee.js"></script>        
      <!--[if lt IE 9]> 
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
      <![endif]-->     
   </head>
   <body class="size-1140" style="background-color:white;">
      <!-- TOP NAV WITH LOGO -->          
      
      <!-- MAIN SECTION -->                  
      <section id="article-section" class="line">
         <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-9">
               <!-- ARTICLE 1 -->               
               <article class="margin-bottom">
                  <div class="post-5 line">
                     <!-- date -->                 
                    
                  </div>
                  <!-- text -->                 
                  <div class="post-text">
                     <h1>National Convention!</h1>
                     <p>
                        The National Federation of the Blind National Convention is the largest gathering of blind people in the world.

It is the premier event for training, support, and information for the blind community. It also serves as a governing body, democratically electing our leadership and establishing each year's organizational priorities.
Although the convention is open to all, our constitution states that only members of the NFB have the right to participate in decision making when it comes to organizational policy. If you are not already a member, joinam; est usus legentis in iis qui facit eorum claritatem.
                     </p>
                     <br>
                     <blockquote>
                        The National Federation of the Blind National Convention is the largest gathering of blind people in the world.

It is the premier event for training, support, and information for the blind community. It also serves as a governing body, democratically electing our leadership and establishing each year's organizational priorities.
Although the convention is open to all, our constitution states that only members of the NFB have the right to participate in decision making when it comes to organizational policy. If you are not already a member, join
                     </blockquote>
                     <br>
                     <p> 
                        The National Federation of the Blind National Convention is the largest gathering of blind people in the world.

                        It is the premier event for training, support, and information for the blind community. It also serves as a governing body, democratically electing our leadership and establishing each year's organizational priorities.
                        Although the convention is open to all, our constitution states that only members of the NFB have the right to participate in decision making when it comes to organizational policy. If you are not already a member.             
                     </p>
                     <h2>This is subtitle of article</h2>
                     <img src="img/post4-big.jpg" alt="Fashion">
                     <p>
                        Space at the Marriott, our headquarters hotel, has filled up. However, the New Orleans Sheraton, our overflow hotel, is right across the street and has plenty of rooms available for all nights of the convention at the convention rate.
                     </p>
                     <h3>This is second subtitle of article</h3>
                     <p>
                        Space at the Marriott, our headquarters hotel, has filled up. However, the New Orleans Sheraton, our overflow hotel, is right across the street and has plenty of rooms available for all nights of the convention.
                     </p>
                     <br>
                     <p> 
                        Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, 
                        qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, 
                                    
                     </p>
                 
                  </div>
               </article>
               <!-- AD REGION -->
               <div class="line">
                  <div class="advertising horizontal">
                            
                  </div>
               </div>
            </div>
            <!-- SIDEBAR -->             
            <div class="s-12 l-3">
               <aside>
                  <!-- NEWS 1 -->           
                  <img src="img/news1.jpg" alt="News 1">          
                  <div class="aside-block margin-bottom">
                     <h3>Space at the Marriott, our headquarters hotel, has filled up. However, the New Orleans Sheraton, our overflow hotel.</p>
                  </div>
                  <!-- AD REGION --> 
                  <div class="advertising margin-bottom">
                           
                  </div>
                  <!-- LATEST POSTS -->
                  <div class="aside-block margin-bottom">
                     <h3>Latest posts</h3>
                     <a class="latest-posts" href="post-1.html">
                        <h5>National Convention</h5>
                        
                     </a>
                    
                     <a class="latest-posts" href="post-4.html">
                        <h5>National Convention</h5>
                        <p>
                           National Convention........
                        </p>
                     </a>
                     <a class="latest-posts" href="post-5.html">
                   
                        
                         
                     </a>
                  </div>
               </aside>
            </div>
         </div>
      </section>
      <!-- FOOTER -->       
     
      </div>
   </body>
</html>